<div class="container">

    <div class="page-header">
        <h2>Etudiant de l'EPSI</h2>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <div class="panel panel-default">
                <div class="panel-heading">
                <span class="glyphicon glyphicon-user">
                {{user.prenom}}
                </span>
                </div>
                <div class="panel-body">
                    <p>Nom : {{user.nom}}</p>
                    <p>Email : {{user.email}}</p>
                    <p>Telephone : {{user.telephone}}</p>
                </div>
            </div>
        </li>
    </ul>


</div>