<div class="container">

    <div class="page-header">
        <h2>Liste des étudiants de l'EPSI</h2>
    </div>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="user in listeUsers">
            <span class="glyphicon glyphicon-user"></span> {{user.prenom}} {{user.nom}}

            <div class="btn-group btn-group-xs pull-right ">
                <button type="button" class="btn btn-primary" ng-click="removeUser(user.id)">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
                <button type="button" class="btn btn-primary" ng-click="openUser(user.id)">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </li>
    </ul>
    <button class="glyphicon glyphicon-pencil" ng-click="createUser()">Créer un étudiant</button>
</div>